<!DOCTYPE html>
<html>
<head>
    <title>Car Rental Website</title>

    <link rel="stylesheet"
    href="{{ url_for('static',
    filename='style.css') }}">
</head>
<body>

<nav>
    <div class="logo">🚗 CarRental</div>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</nav>

<section class="hero">

    <div class="hero-text">

        <h1>Find Your Perfect Rental Car</h1>

        <p>
            Luxury, affordable and premium
            cars for your journey.
        </p>

        <a href="/register">
            <button>Get Started</button>
        </a>

    </div>

</section>

<section class="features">

    <h1>Why Choose Us?</h1>

    <div class="feature-box">

        <div class="card">
            <h2>🚗 Premium Cars</h2>
            <p>
                Choose luxury and premium
                rental vehicles.
            </p>
        </div>

        <div class="card">
            <h2>💰 Affordable Price</h2>
            <p>
                Best rental prices with
                affordable packages.
            </p>
        </div>

        <div class="card">
            <h2>⚡ Fast Booking</h2>
            <p>
                Book your dream car
                instantly.
            </p>
        </div>

    </div>

</section>

<footer>
    <h3>© 2026 CarRental Website</h3>
</footer>

</body>
</html>